*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    
    
}

.rating__summary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    width: 250px;
    padding: 30px;
    color: white;
    border-radius: 20px;
   
}
.text__content img{
    background-color: hsl(217, 18%, 14%);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.text__content h1{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}

.text__content p{
    font-size: 13px;
    color:  hsl(216, 12%, 54%);
    margin-bottom: 20px;
}
.ratings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    
}
.ratings h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(217, 18%, 14%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    font-size: 12px;
    padding: 15px;
    transition: 0.5s;
}
button{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(25, 97%, 53%);
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    transition: 0.5s;
    
}
.btn:hover{
    color: hsl(25, 97%, 53%); 
    background-color: white;
    cursor: pointer;

}
.ratings h3:hover{
    color: white;
    background-color:  hsl(25, 97%, 53%);
    cursor: pointer;
}
.popup__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:hsl(213, 19%, 18%);
    width: 300px;
    color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   border-radius: 25px;
   visibility: hidden;
}
 
.popup__container img{
    width: 130px;
    height: 80px;
    margin-bottom: 20px;
}

.popup__container h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(25, 97%, 53%);
    font-weight: 500;
    background-color: hsl(216, 10%, 20%) ;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    height: 8px;
    margin-bottom: 20px;
}
.popup__container h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.popup__container p{
    font-size: 13px;
    color: hsl(216, 12%, 54%);
    text-align: center;
    line-height: 26px;
    font-weight: 700;
}

.open-popup{
    visibility: visible;
}